.git/COMMIT_EDITMSG
.git/HEAD
.git/config
.git/description
.git/hooks/applypatch-msg.sample
.git/hooks/commit-msg.sample
.git/hooks/fsmonitor-watchman.sample
.git/hooks/post-update.sample
.git/hooks/pre-applypatch.sample
.git/hooks/pre-commit.sample
.git/hooks/pre-merge-commit.sample
.git/hooks/pre-push.sample
.git/hooks/pre-rebase.sample
.git/hooks/pre-receive.sample
.git/hooks/prepare-commit-msg.sample
.git/hooks/push-to-checkout.sample
.git/hooks/sendemail-validate.sample
.git/hooks/update.sample
.git/index
.git/info/exclude
.git/logs/HEAD
.git/logs/refs/heads/main
.git/logs/refs/remotes/origin/main
.git/objects/1a/18aca891b20a35a04bb3f54e761222a9ed3193
.git/objects/1a/bc57d6f6a7383aeb63da7102eb1a5fbe8da0c4
.git/objects/30/80821197956f05d7d9e4b4c312cfcff929415a
.git/objects/39/6f86e654abbb07ae045e686cd133fd1dcdd396
.git/objects/65/5aadc1872c78ff5bf838b21a9220063fa734b3
.git/objects/ae/a609060cbde44cd838906a86c5c180b982127b
.git/objects/e6/9de29bb2d1d6434b8b29ae775ad8c2e48c5391
.git/refs/heads/main
.git/refs/remotes/origin/main
